{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asset Dashboard</title>
    {% load static %}
    <link rel="manifest" href="{% static "/bundles/manifest.json" %}">
    <link rel="shortcut icon" type="image/png" href="{% static "assets/images/favicon.png" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="" />
    <link rel="stylesheet" type="text/css" href="{% static "/assets/css/common/app.css" %}">
</head>
<body>
{% render_bundle 'main' 'js' %}
</html>
